*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page { 
  display: grid;
  place-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
} 

.content {
  display: grid;
  align-items: end;
  gap: 30px;
  max-width: 1140px;
  grid-template-columns: 711px 399px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item:last-child {
  padding-bottom: 30px;
}

.content__list-container {
  height: 298px;
  overflow: auto;
  overflow-x: auto;
  position: relative;
}

.content__list-container .preloader-template {
  position: relative;
} 

.content__details {
  display: grid;
  gap: 20px;
  width: 100%;
  height: 100%;
  
}

.result__video-container {
  width: 711px;
  height: 386px; 
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;
}

.result__video-container .preloader-template {
  position: relative;
}

.result__video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  overflow: hidden;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  padding-bottom: 5px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  opacity: 0.3;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

input {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  background-color: transparent;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: currentColor;
}

input:focus {
  outline: none;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield {
  appearance: none;
  color: #fff;
  width: 225px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  counter-reset: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked::after {
  opacity: 1;
}

.search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label-input:hover {
  text-decoration: none;
  cursor: pointer;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  background-color: transparent;
  color: #fff;
  border: 1px solid currentColor;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.more-button {
  width: 100%;
  height: 34px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

input[type='checkbox']:checked + span {
  background-color: #fff;
}

.content__card-link_current:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item {
  padding: 0 3px;
}